<div>

  <!--<ul *ngFor="let madera of maderas">
    <li>{{madera.name}}</li>
    <li>
      <img [src]="madera.cover" />
    </li>
  </ul>-->
  <!--<div>

    <h1>{{images[0].id}}</h1>
    <img [src]="images[0].img" />

  </div>-->

  <div id="demo" class="col-sm-6 col-md-6 carousel slide" data-ride="carousel">

    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
      <ng-template ngbSlide *ngFor="let image of images">
        <img [src]="image" alt="Random slide">
        <div class="carousel-caption">
          <h3>No mouse navigation</h3>
          <p>This carousel hides navigation arrows and indicators.</p>
        </div>
      </ng-template>
    </ngb-carousel>

    <hr>

    <div class="btn-group" role="group" aria-label="Carousel toggle controls">
      <button type="button" (click)="showNavigationArrows = !showNavigationArrows" class="btn btn-outline-dark btn-sm">Toggle navigation arrows</button>
      <button type="button" (click)="showNavigationIndicators = !showNavigationIndicators" class="btn btn-outline-dark btn-sm">Toggle navigation indicators</button>
    </div>

    <!--<ngb-carousel *ngIf="images.img">
    <ng-template ngbSlide>
      <img [src]="images[0].img" alt="Random first slide">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[1].img" alt="Random second slide">
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[2].img" alt="Random third slide">
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
      -->
    <!--<ul class="carousel-indicators ">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <div class="carousel-inner" id="claras" >
    <div class="carousel-item active" >
      <img [src]="cocina.img" width="1920" height="542" alt="" title="" border="0" align="left">
    </div>
    <div class="carousel-item">
      <img src="img\Placard.jpg" width="1920" height="542" alt="" title="" border="0" align="left">
    </div>
    <div class="carousel-item">
      <img src="img\placardTV.jpg" width="1920" height="542" alt="" title="" border="0" align="left">
    </div>
  </div>

  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>-->

  </div>



</div>
